*{
  margin: 0px;
padding: 0px;
box-sizing: border-box;
}



.navbar{
  height: 75px;

  background-color: black;

}
.navbar div{
  width: 33.3%;
  float: left;
}
.navbar .logo{
  display: flex;
height: 75px;
  align-items: center;
padding-left: 10px;
}
.navbar .logo img{
  width: 50px;
  border-radius: 50%;
}
.navbar .center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}
.navbar .center ul li{
  display: inline;
  padding-left: 7px;
  padding-right: 15px;
}
.navbar .center ul li a{
  color: white;
  font-family: "Ubuntu", sans-serif;
   font-weight: 300;
   font-style: normal;
  text-decoration: none;
  padding: 8px;
  border-bottom:2px solid black;
border-color: black;
transition: border-color 1s;
  letter-spacing: 2px;



}
.navbar .center a:hover{
border-color: white;
}




.navbar .right{
text-align: right;
  padding-right: 10px;
padding-top: 20px;
  height: 75px;


}

.navbar .right button{
  width: 85px;
  height: 25px;
  border-radius: 24px;
  background-color: black;
  border: 2px solid white;
  color: white;
  transition: 1.5s;
  animation: glow 1.5s infinite
}

.right button:hover {
 background-color: white;
  color: black;
  border: 2px solid grey;
  box-shadow: 1px 1px white;


}

.toggler ul li{
  display: inline;
}
.toggler{
  background-color: black;
}
.toggler a{
  padding: 5px;
  letter-spacing: 4px;
  color: white;
  text-decoration: none;

}

@keyframes glow {
  0% {
         box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
     }
     50% {
         box-shadow: 0 0 15px rgba(255, 255, 255, 1);
     }
     100% {
         box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
     }
}


.Topics{
display: none;
}

.Information{
  width: 100%;
  height: 350px;
background-color: #393e46;
  margin-top: 2px;
}
.Info-Container{
  width: 75%;
  margin:auto;

  height: 350px;
}
.Info-Container .info, .Info-Container .MyImage{
  float: left;
}
.info{
  width: 50%;
  height: 350px;


}
.SocialMedia img{
  width: 40px;
  border: 2px solid black;
}
.SocialMedia .InstagramHover{
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  transition: opacity 0.75s;
  animation: glow 2.5s infinite
}
.InstagramNormal{
  opacity: 1;
  border-radius: 50%;
}

.InstagramHover:hover {
  opacity: 0;

}

.SocialMedia .LinkedinHover{
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  transition: opacity 0.75s;
  animation: glow 2.5s infinite
}
.LinkedinNormal{
  opacity: 1;
  border-radius: 50%;
}

.LinkedinHover:hover {
  opacity: 0;

}
.Linkedin{
  margin-left: 5px;
}


.SocialMedia .GitHover{
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  transition: opacity 0.75s;
  animation: glow 2.5s infinite
}
.GitNormal{
  opacity: 1;
  border-radius: 50%;
}

.GitHover:hover {
  opacity: 0;

}
.Git{
  margin-left: 5px;
}


.SocialMedia div{
  display: block;
}

.info h2, .info article{
  color: white;
}

.info{

}
.SocialMedia{
display: block !important;
text-align: center;
margin-top: 10px;

}


.SocialMedia div{
  display: inline
}
.Text{
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
}
.Text h2{
  font-size: 3.4vw;
  font-family: "Ubuntu", sans-serif;
   font-weight: 300;
   font-style: normal;
}
.Text article{
  font-size: 1.3vw;

  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;


}
.SocialMedia a{
  text-decoration: none;
}





.MyImage{
  width: 45%;
  height: 350px;

display: flex;
justify-content: center;
align-items: center;
}
.MyImage img{
  width: 52%;
  border: 2px solid black;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
    animation: glow 1.5s infinite

}


.EducationPart{
  width: 100%;
  height: 450px;
  margin-top: 5px;
}
.EducationPart h4{
  color: #393e46;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
   font-weight: 300;
   font-style: normal;
}
.EducationContainer{

  width: 50%;
  height: 350px;
  margin: auto;

}
.EducationContainer {

}
/*
 .EduRoadpng{
  width: 20%;
  height: 350px;

  display: flex;
  justify-content:flex-end;
  align-items: center;

}
.EduRoadpng img{
  margin-top: 20px;
}
*/
.EduRoadText{
  margin: auto;
  width: 80%;

  height: 350px;

  color: #393e46;

}
.EduRoadText ul{
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
/*
.EduRoadText ul li{
  font-size: 1.5vw;
  text-align: center;
}
*/

.EduRoadText table td{
  padding-top: 15px;
}

.EduRoadText table tr td{
  padding-left: 40px;
  padding-bottom: 40px;
  font-size: 1.4vw;


}

.TehsilNazir{
  width: 100%;
}
.Ozu{
  width: 60%;

}
.edulogos .Ozyegin{
  display: flex !important;
  justify-content: center !important;
}
.Vistula{
  width: 100%;
}

.edulogos ul {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  list-style-type: none;
}










@media screen and (min-width:992px) and (max-width:1199px) {




.EduRoadText{
  width: 100%;
}

.EduRoadText table tr td{
  padding: 30px;
  font-size: 1.6vw;
}



}

.Tech{
  height: 425px;
  width: 100%;
  background-color: red;
}
.Tech-container{
  height: 350px;
  width: 75%;
  margin: auto;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Tech-container ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Tech h4{
  color: #393e46;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
   font-weight: 300;
   font-style: normal;
}




@media screen and (min-width:768px) and (max-width:991px) {
.EducationPart h4{
  font-size: 2.75vw;
}
  .EducationContainer{
    width: 70%;
  }

  .EduRoadText table tr td{
    padding: 25px;
    font-size: 1.8vw;
  }
}


@media screen and (min-width:600px) and (max-width:767px) {
  .EducationPart h4{
    font-size: 2.85vw;
  }

  .EducationContainer{
    width: 70%;
  }

  .EduRoadText table tr td{
    padding-right: 0px !important;
    padding: 25px;
    font-size: 3vw;
  }
  .MyImage img{
    width: 85%;
  }
.Text h2{
  font-size: 4vw;
}
}

@media screen and (max-width:600px) {
.Information{
  height: 300px;
}


  .Info-Container{
    width: 90%;
    height: 300px;
  }
  .info{
    height: 300px;
  }



  .info .Text h2{
    font-size: 4.5vw;
  }
  .info .Text article{
    font-size: 2.5vw;
  }
  .SocialMedia img{
    width: 30px;
  }
  .MyImage{
    height: 300px;
  }
  .MyImage img{
    width: 85%;
  }
  .EducationContainer{
    width: 100%;
  }

  .EduRoadText table tr td{
    padding: 25px;
    font-size: 3.5vw;
  }
  .EducationPart h4{
    font-size: 4.5vw;
  }
}
